* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #003140;
    color: white;
    font-family: 'Poppins', sans-serif;;
}

/* cabeçalho */

#header {
    height: 60vh;
}

#gif {
    position: absolute;
    width: 48%;
    z-index: 1;
}

#apresentacao {
    position: relative;
    left: 60%;
    top: 25%;
}

#nome {
    color: #00B2DF;
}

/* Sobre mim */

#fotoPerfil {
    display: flex;
    margin: 0 auto 15px auto;
    width: 200px;
    border-radius: 50%;
    z-index: 2;
}

#sobreMim {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Projetos */

#projetos {
    text-align: center;
    margin-top: 50px;
}

#projetos ul {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#projetos ul li {
    background-color: #00b2df3b;
    padding: 100px;
    border-radius: 10%;
}

/* Habilidades */

#habilidades {
    text-align: center;
    margin-top: 50px;
}

#habilidades ul {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

#habilidades ul li {
    background-color: #00b2df3b;
    padding: 20px;
    border-radius: 10%;
}

#contatos {
    text-align: center;
    margin-top: 50px;
}

#contatos ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
    margin-top: 20px;
}

#contatos li {
    background-color: #00b2df3b;
    padding: 20px 10px;
    border-radius: 10px;
}

#contatos a{
    text-decoration: none;
    color: white;
}

#assinatura {
    text-align: center;
    margin: 20px auto 0 auto;
}