* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #003140;
    color: white;
}

#header {
    height: 60vh;
}

#gif {
    position: absolute;
    width: 48%;
}

#apresentacao {
    position: relative;
    left: 60%;
    top: 20%;
}

#nome {
    color: #00B2DF;
}

#sobreMim {
    display: flex;
    flex-direction: column;
    margin-top: 12vh;
    text-align: center;
}

#fotoPerfil {
    display: flex;
    margin: 0 auto 15px auto;
    width: 200px;
    border-radius: 50%;
}